h1, fieldset, table, legend, div 

{
padding: 3px;
margin:0;
font-family: Verdana, "Times New Roman", Times, serif;
font-size: 12px;
font-weight: bold;
text-shadow: 0 1px 1px #555555;
display: block;

-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
text-align:top, center;

}

h1

{
color: #003388;
font-size: 24px;
}

body

{
background: #CCCCCC;
color:#001133;
}

div#right

{
float:right;

}

div#left
{
float:left;

}

table#righttable

{
position: relative;
width:700px;
height: auto;
border-style: ridge;
border-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
}

table#lefttable

{
position: relative;
width:250px;
height: auto;
border-style: ridge;
border-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
}

table#downright
{
position: relative;
width: 700px;
border-style: ridge;
border-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;

}
td, tr

{
border-style: ridge;
border-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
}

img
{
width:240;
height:180;
}

table#downright td
{
position:relative;
width:25%;
}

fieldset#buttom
{
color: #000000;
}
